@model IEnumerable<DOAN.Models.Item>
@{
    ViewBag.Title = "ThemVaoGioHang";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Thành tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                <img src="@item.Anh" width="140" />
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tien)
            </td>
        </tr>
    }

</table>

