@model DOAN.Models.tblNguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết tài khoản</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Mã người dùng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNguoiDung)
        </dd>

        <dt>
            Tên người dùng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiDung)
        </dd>

        <dt>
            Năm sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSinh)
        </dd>

        <dt>
            Giới tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Tên đăng nhập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        @*<dt>
            Mật khẩu:
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>*@

        <dt>
            Quyền truy cập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblQuyen.TenQuyen)
        </dd>

        <dt>
            Trạng thái truy cập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTrangThai.TenTrangThai)
        </dd>

    </dl>
</div>
<p>
    @*@if (Session["role"].ToString() == Constant.ADMIN)
    {
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNguoiDung })<span>|</span>
        @Html.ActionLink("Danh sách", "Index")
    }
    else if (Session["role"].ToString() == Constant.EMPLOYEER)
    {
        @Html.ActionLink("Danh sách", "DSKhachHang")
    }*@
</p>
