@model IEnumerable<DOAN.Models.tblChiTietDonHang>
@using DOAN.Models;
@{
    ViewBag.Title = "Theo dõi đơn hàng";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var user = Session["UserLogin"] as tblNguoiDung;
}

@*<div class="row px-xl-5 py-5">
        <h4>Theo dõi đơn hàng của khách hàng @user.TenNguoiDung </h4>
        <table class="table table-bordered  w-100 px-xl-5">
            <thead>
                <tr class="text-center">
                    <th align="center">Hình ảnh</th>
                    <th align="center">Tên sản phẩm</th>
                    <th align="center">Đơn giá</th>
                    <th align="center">Số lượng</th>
                    <th align="center">Thành Tiền</th>
                    <th align="center">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">
                            <img src="@item.tblSanPham.HinhAnh" width="120" />
                        </td>
                        <td>
                            @item.tblSanPham.TenSanPham
                        </td>
                        <td align="right">
                            @item.DonGia.ToString("#,##0")
                        </td>
                        <td align="center">
                            @item.SoLuong
                        </td>
                        <td align="center">
                            @{
                                var total = (item.DonGia) * (item.SoLuong);
                            }
                            @total
                        </td>
                        <td align="center">@item.tblDonHang.tblTrangThai.TenTrangThai</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right" class="font-weight-bold">
                        Tổng tiền:
                    </td>
                    <td class="TongTien font-weight-bold" style="text-align:right">
                        @ViewBag.Total.ToString("#,##0")
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>*@

<link href="~/Theme/css/TheoDoiDon.css" rel="stylesheet" />
<div class="row container-fluid pl-5 pr-5 mt-5 pt-2">
    <div class="col-lg-3" style="padding-left: 50px;">
        <div class="avt d-flex align-items-center pb-3">
            <img class="avt_img" src="~/Theme/img/cute3.jpg" width="60" />
            <span class="name ml-2">Vũ Linh</span>
        </div>
        <ul class="text-dark">
            <li>
                <i class="icon fas fa-user fa-sm fa-fw text-gray-400" style="margin-right: 4px; color: #e78278"></i>
                Tài khoản của tôi
            </li>
            <li style="color: #e78278">
                <i class="icon fas fa-clipboard-check ml-1" style="color: #e78278"></i>
                Đơn mua
            </li>
            <li>
                <i class="icon fas fa-bell" style="font-size: 24px; color: #e78278"></i>
                Thông báo
            </li>
            <li>
                <i class="icon fas fa-warehouse" style="font-size: 18px; color: #e78278"></i>
                Kho Voucher
            </li>
        </ul>
    </div>
    <div class="col-lg-9 w-100" style="background-color: #ffffff;">
        <h4 class="mb-4">Theo dõi đơn hàng</h4>
        <div class="row main mt-5" style="position: relative;">
            <div class="main_detail col-3 text-center">
                <i class="main_detail-icon fas fa-clipboard-check pl-3 pr-3"></i><br /><br />
                <span class="text-dark">Đơn hàng xác nhận</span>
            </div>
            <div class="main_detail col-3 text-center">
                <i class="main_detail-icon fas fa-truck"></i><br /><br />
                <span class="text-dark">Đơn hàng đang giao</span>
            </div>
            <div class="main_detail col-3 text-center">
                <i class="main_detail-icon fas fa-check-double" style="background-color: #edf1ff;"></i><br /><br />
                <span class="text-dark">Giao hàng thành công</span>
            </div>
            <div class="main_detail col-3 text-center">
                <i class="main_detail-icon far fa-star"></i><br /><br />
                <span class="text-dark">Đánh giá</span>
            </div>

            <div class="stepper__line-foreground" style="width: calc((100% - 836px) * 1); background: #e78278; "></div>
            <div class="stepper__line-foreground1" style="width: calc((100% - 836px) * 1); background: #e78278; "></div>
            <div class="stepper__line-foreground2" style="width: calc((100% - 836px) * 1); background: #e78278; "></div>

            @*<div class="stepper__line-background" style="background: rgb(224, 224, 224);"></div>*@

        </div>

    </div>
</div>



